
header {
    background-color: #7320EA;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
}

header h1{
    animation: showTitle 1s ease-in-out;
    color: #F3FCFF;
    font-size: 2rem;
    text-transform: capitalize;
}

.logo{
    border-radius: 12px;
    margin: 4px;
    height: 70px;
    width: 140px;
}

/* Styles for home */

.containerHome{
    display: grid;
    grid-template-columns: 60% 40%;
    margin:50px;
}

.columnOption{
    font-weight: bold;
    padding: 20px 30px;
    width: 600px;
}

.slogan {
    font-size: 2.6rem;
}

.columnOption .phrase{
    color: #7320EA;
    font-size: 1.2rem;
}

.boxBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 60px 0px;
}

.boxBtns button{
    background-color: #7320EA;
    border: none;
    border: 4px solid #7320EA;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 14px;
    width: 280px;
}

.boxBtns button:hover{
    background-color: transparent;
    border: 4px solid #7320EA;
    color: #7320EA;
}

.imageHome{
    animation: imageShow 0.8s ease-in-out;
    width: 450px;
}

/* section form */

.containerForm{
    display: grid;
    grid-template-columns: 50% 40%;
    margin: 20px 40px;
}

.forms{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #1b1a1a;
    border-radius: 20px;
    margin: 60px 60px 40px 60px;
    text-align: center;
    height: 380px;
    width: 600px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    color: #383838;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    bottom: 40px;
}

.form h2{
    font-size: 2rem;    
}

.hrLine {
    background-color: #650ce2;
    border-radius: 10px;
    height: 4px;
    width: 240px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 70%;
    margin: 60px 75px;
}

.boxBtnsForms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 40px;
    text-align: center;
}

.boxBtnsForms button{
    background-color: #1de113;
    border: none;
    border-radius: 2px;
    box-shadow: 6px 6px 0px #383838;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    position: relative;
    top: 0px;
    text-transform: capitalize;
    width: 150px;
}

.boxBtnsForms button:active{
    box-shadow: 0px 0px 0px #383838;
    top: 4px;
    left: 4px;
}


/* Column of information summary panel */

.columnPanel{
    margin: 40px 100px;
}

.btnCloseProcess , .btnModal{
    background-color: #f50808;
    border: none;
    border-radius: 2px;
    color: #F3FCFF;
    cursor: pointer;
    bottom: -40px;
    left: 340px;
    position: relative;
    padding: 10px;
}

.btnModal{
    background-color: #11de0e;
}

.btnCloseProcess:hover{
    background-color: #000000;
}

.sectionSteps h3{
    background-color: #650ce2;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 450px;
}

.btnModal{
    display: none;
}

.stepsPanel{
    display: block;
    color: #000000;
    font-size: 1.2rem;
}

.NoShow {
    display: none;
}

.openSumary2{
    position: absolute;
    right: 140px;
    transform: rotate(90deg);
}

.openSumary1{
    position: absolute;
    right: 140px;
    transform: rotate(0deg);
    transition: transform 0.6s ease-in-out;
}

footer{
    font-size: 1.1rem;
    text-align: center;
}

/* Animations */

@keyframes showTitle {
    0% {
        opacity: 0px;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1px;
        transform: translateY(0px);
    }
}

@keyframes imageShow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* responsive for tablet */
@media (min-width: 481px) and  (max-width: 768px)  {

    header {
        background-color: #7320EA;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px;
    }
    
    header h1{
        animation: showTitle 1s ease-in-out;
        color: #F3FCFF;
        font-size: 1.8rem;
        text-transform: capitalize;
        text-align: center;
    }
    
    .logo{
        position: relative;
        left: 20px;
        height: 80px;
        width: 150px;
    }
    
    /* Styles for home */
    
    .containerHome{
        display: grid;
        grid-template-columns: 60%;
        margin:20px;
    }
    
    .columnOption{
        width: 500px;
    }
    
    .slogan {
        font-size: 2.4rem;
    }
    
    .columnOption .phrase{
        color: #7320EA;
        font-size: 1.8rem;
    }
    
    .boxBtns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 60px 0px;
    }
    
    .boxBtns button{
        font-size: 1.1rem;
        padding: 20px;
        width: 240px;
    }
    
    .imageHome{
        animation: imageShow 0.8s ease-in-out;
        width: 450px;
    }
    
    /* section form */
    
    .containerForm{
        display: grid;
        grid-template-columns: 100%;
        margin: 20px 0px;
    }
    
    .forms{
        margin: 80px 40px;
        text-align: center;
        height: 500px;
        width: 530px;
    }
    
    .steps{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        color: #383838;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
        position: relative;
        bottom: 40px;
    }
    
    .form h2{
        font-size: 2.4rem;    
    }
    
    .inputContainer {
        position: relative;
        height: 40px;
        width: 80%;
        margin: 80px 40px;
    }
    
    .boxBtnsForms{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 100px 20px;
        text-align: center;
    }
    
    .boxBtnsForms button{
        width: 300px;
    }

    /* Column of information summary panel */

    .columnPanel{
        margin: 40px 40px;
    }

    .btnCloseProcess , .btnModal{
        bottom: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 20px;
        padding: 20px;
        left: 50px;
        width: 400px;
    }
    
    .sectionSteps h3{
        background-color: #650ce2;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        margin: 40px 40px;
        width: 400px;
    }

    .mobil{
        display: none;
    }

    .btnModal{
        margin-top: 20px;
        display: block;
    }

    .showModal{
        background-color: #ffffff;
        box-shadow: 2px 2px 10px #000000;
        position: absolute;
        top: 300px;
        margin: 10px;
        z-index: 1000;
    }

    .mobil{
        display: none;
    }

    .stepsPanel{
        display: block;
        color: #000000;
        font-size: 1rem;
        padding-left: 40px;
    }

    .NoShow {
        display: none;
    }

    .openSumary2{
        right: 40px;
    }

    .openSumary1{
        right: 40px;
    }

    footer{
        font-size: 1.1rem;
        text-align: center;
    }
    
}

/* responsive for mobile */
@media (min-width: 320px) and  (max-width: 480px)  {

    header {
        background-color: #7320EA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
    }
    
    header h1{
        animation: showTitle 1s ease-in-out;
        color: #F3FCFF;
        font-size: 1.5rem;
        text-transform: capitalize;
        text-align: center;
    }
    
    .logo{
        position: relative;
        left: 80px;
        height: 100px;
        width: 200px;
    }
    
    /* Styles for home */
    
    .containerHome{
        display: grid;
        grid-template-columns: 60%;
        margin:20px;
    }
    
    .columnOption{
        width: 300px;
    }
    
    .slogan {
        font-size: 1.6rem;
    }
    
    .columnOption .phrase{
        color: #7320EA;
        font-size: 1.2rem;
    }
    
    .boxBtns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 60px 20px;
    }
    
    .boxBtns button{
        font-size: 1.1rem;
        padding: 20px;
        width: 250px;
    }
    
    .imageHome{
        animation: imageShow 0.8s ease-in-out;
        width: 280px;
    }
    
    /* section form */
    
    .containerForm{
        display: grid;
        grid-template-columns: 100%;
        margin: 20px 0px;
    }
    
    .forms{
        margin: 80px 20px;
        text-align: center;
        height: 500px;
        width: 360px;
    }
    
    .steps{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        color: #383838;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
        position: relative;
        bottom: 40px;
    }
    
    .form h2{
        font-size: 2rem;    
    }
    
    .inputContainer {
        position: relative;
        height: 40px;
        width: 76%;
        margin: 80px 20px;
    }
    
    .boxBtnsForms{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 100px 20px;
        text-align: center;
    }
    
    .boxBtnsForms button{
        width: 120px;
    }

    /* Column of information summary panel */

    .columnPanel{
        margin: 40px 0px;
    }

    .btnCloseProcess , .btnModal{
        bottom: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 20px 0px;
        padding: 20px;
        left: 80px;
        width: 220px;
    }
    
    .sectionSteps h3{
        background-color: #650ce2;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        margin: 40px 40px;
        width: 280px;
    }

    .mobil{
        display: none;
    }

    .btnModal{
        margin-top: 20px;
        display: block;
    }

    .showModal{
        background-color: #ffffff;
        box-shadow: 2px 2px 10px #000000;
        position: absolute;
        top: 400px;
        margin: 10px;
        z-index: 1000;
    }

    .mobil{
        display: none;
    }

    .stepsPanel{
        display: block;
        color: #000000;
        font-size: 1rem;
        padding-left: 40px;
    }

    .NoShow {
        display: none;
    }

    .openSumary2{
        right: 40px;
    }

    .openSumary1{
        right: 40px;
    }

    footer{
        font-size: 0.800rem;
        text-align: center;
    }
    
}